
.main-nav{
  color: white;
  background-color: rgb(189 188 188);
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  height: 80px;
  z-index: 9;
  }
  /* .links{
  
    cursor: pointer;
  } */
  
  .head{
    color: white;
  }

  .links ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;

  }
  .links ul li{
      cursor: pointer;
      
  } 

  .links a,
  .head
   a {
    color: #ffffff;
    text-decoration: none;
}
