.signup_in{
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background: #f5f5f5;
    border-radius: 10px;
}

.password{
    position: relative;
}

.cus-pos {
  position: absolute;
  top: 35px;
  right: 10px;
}